.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.text-fancy {
  -webkit-background-clip: text;
  background-clip: text !important;
  background-image: url("./images/gradient.svg");
  background-size: cover;
  color: transparent !important;
  background-position: center center;
}

.motto h1, .fancy-title {
  font-weight: 800;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.motto p {
  color: rgb(17, 17, 17);
  font-size: 1.4rem;
}

.App .card-title {
  font-weight: 700;
  font-size: 1.4rem;
  opacity: 0.75;
}

.App .card {
  max-width: 500px;
  text-align: left;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.App .card-body {
  padding: 35px;
}

.App .card-body > * {
  margin-bottom: 15px;
}

.App .card a {
  text-decoration: none;
  font-weight: 500;
}

.App .card a img {
  margin-top: -0.1rem;
  width: 1.5rem;
  transform: rotate(-90deg);
  fill: blue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
